@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,700,500");

body {
    font-family: "Raleway", sans-serif !important;
    background-color: #302c2c;
    color: #d6d6d6;
}

.content {
    /*max-width: 936px;*/
    margin: auto;
    margin-top: 15%;
}

.container {
    padding-bottom: 5%;
}

a, a:hover {
  color: #11e7f2;
}

em {
   color: rgba(255, 165, 230, 1);
}

.card-title {
    font-weight: 500;
}

.form-group {
    column-count: 2;
    column-gap: 2rem;
    list-style: none;
}

hr {
  border-top: 3px solid;
  /*border-top: 3px solid rgba(255, 165, 230, 1);*/
  border-radius: 2px;
}

.card-project {
    color: rgb(230, 153, 109);
    background-color: rgba(117, 59, 25, 0.1);
    border-color: rgba(195, 87, 25, 0.5);
}
.card-project :hover {
    background-color: rgba(117, 59, 25, 0.15);
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: rgba(225, 137, 255, 0.43) !important;
    border-color: rgba(234, 187, 253, 0.84) !important;
}

.btn-primary:hover {
    background-color: rgba(225, 137, 255, 0.65) !important;
    border-color: rgba(234, 187, 253, 0.84) !important;
}

